*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    }
body{
    background: #191919;
}    


    .container{
        margin: 0 auto;
    max-width: 1200px;
    }
    
    .img{
    max-width: 100%;
    }
    

    header{
height: 119px;

display: flex;
justify-content: space-between;
/* padding:0 50px; */
align-items: center;
    }
nav a{
    color: #FFF;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 158.824% */
    text-decoration: none;
}
nav{
display: flex;
gap: 40px;
}

        #Aqua{
        color: #118DA8;
        font-family: DM Sans;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 158.824% */
        text-decoration: none;
    }

.nigga{


    border-radius: 12px;
    background: url(../img/nigga.png), lightgray 50% ;
    background-position: center;
    background-size: cover;
    width: 450px;
height: 673px;
flex-shrink: 0;
}

    .main{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 0 100px;

    }

    .text {
        color: #FFF;
        font-family: DM Sans;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 88px; /* 125.714% */
        letter-spacing: 3.2px;

    }

    .text{

    padding-left: 60px;
    }
.text span{
    color: #FFF;
    font-family: DM Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px; /* 110% */
    letter-spacing: 3.2px;
}
.listen p{ padding-left: 5px;
padding-bottom: 3px;    
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    padding-top: 90px;
}

.listen_grid{
display: flex;
gap: 4px;
}


svg{
cursor: pointer;

height: 26px;
}

.nigga_svg{
z-index: 33;
position: relative;
left: -25px;
top: -25px;
}

.nigga{
z-index: 1;
position: relative;
}

.episodes{
margin-top: 100px;

}

.epidosde_latest{
    display: flex;
    justify-content: space-between;

    
}

.epidosde_latest h2{
    color: #FFF;
    font-family: DM Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;


}

.btn button{
    border-radius: 6px;
    border: none;
    background: #118DA8;
    width: 178px;
    height: 51px;
    flex-shrink: 0;

    color: #FFF;
font-family: DM Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 158.824% */
}

.episode_microphones{
padding-top: 66px;
}
.episode_microphones_item{
    
display: grid;
grid-template-columns: 1;
}
.episode_microphones_item_item {
display: flex;
justify-content: center;


max-width: 1200px;
height: 545px;
border-radius: 32px;
background: #000;
padding: 40px;


margin-bottom: 60px;
}


.episode_microphones_item_item img{

height: 100%
}


.episode_gray{
    width: 73px;
height: 27px;
flex-shrink: 0;

border-radius: 6px;
background: #191919;


}

#inoo{
    width: 136px;
    height: 27px;
    flex-shrink: 0;

    border-radius: 6px;
background: #191919;
}

.episode_gray p{
    text-align: center;
color: #FFF;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */

}

.pictures{
padding-right: 55px;
}

.episode_number{
    color: #118DA8;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 158.824% */
    padding-top: 48px;
    padding-bottom: 10px;
}

.episode_text h3{
    color: #FFF;
    font-family: DM Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 60.4px; /* 110% */
    letter-spacing: 2.56px;

}

.episode_text p{
    padding-top: 23px;
    color: rgba(255, 255, 255, 0.70);
font-family: DM Sans;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 33px; /* 150% */
padding-bottom: 30px;
}

.episode_microphones_item_item .btn button{
    color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}
button{
cursor: pointer;
}

.center{
display: flex;
justify-content: space-between;
align-items: center;
gap: 30px;
}



.text .center_blue p{
 color: #118DA8;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;

}

.center h5{
    color: #FFF;
    font-family: DM Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.2px; /* 121.846% */
    letter-spacing: 2.88px;
    padding-bottom: 28px;
}

.center .text p{
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 150% */
    padding-bottom: 33px;
}

.niggase2 {
background-image: url(../img/niggase2.png);
background-size: cover;

width: 780px;
height: 550px;
}
.ffflex{
    display: flex;
    justify-content: center;
}
.subs_flex {
    padding: 0 40px;
width: fit-content;
    height: 387px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 100px;
}
.subs{
padding: 200px;
}
.emailblue{
    color: #118DA8;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}
.email h6{
    color: #FFF;
    font-family: DM Sans;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 79.2px; /* 110% */
    letter-spacing: 2.88px;
}

.name input{
    width: 522px;
    height: 82px;
    flex-shrink: 0;
    border-radius: 6px;
border: 1px solid #191919;
background: #191919;
margin-bottom: 20px;
}
.name input::placeholder{
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 120% */
    padding-left: 20px;

}

.email{
padding-top: 60px;
}

.name{
padding-top: 60px;
}

.name button{
padding: 9px 10px  10px 17px;

border-radius: 6px;
background: #118DA8;

color: rgba(255, 255, 255, 0.70);
font-family: DM Sans;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 28.8px; /* 192% */
}

.starsitem{
    width: fit-content;
    height: 321px;
    flex-shrink: 0;

    border-radius: 32px;
background: #000;
}
.starsgrid{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
}

.starsitem p{
    color: #FFF;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 43.2px; /* 120% */
    padding-bottom: 19px;
}

.starsitem a{
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 120% */
    text-decoration: none;
}

.starsitem{
padding: 50px;
width: 100%;
}

.star{
padding-bottom: 20px;
}
i{
    color: white;
}

.footer_item a {
    font-family: DM Sans;
font-size: 17px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: white;
text-decoration: none;
}
.footer_item svg {
 width: fit-content;
}

.footer{
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
}

.bg_modal{
   display: none;
    z-index: 10;
    width: 100%;
    position: absolute;
    height: 1000vh;
    background-color: #050000c7;
}

.modal{
    position: relative;
    padding:   40px    ;
    border-radius: 10px;
    width: 600px;
    height: fit-content;
    z-index: 144;
    position: absolute;
    background: #3b3b3b;
    top: -500%;
    transition: 0.6s;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close {
    cursor: pointer;
    color: white;
    font-size: 30px;
    position: absolute;
    right: 15px;
    top: 10px;
}
.modal_content h1 {
    font-family: DM Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    color: white;
    text-align: center;
}
.modal_content p{
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    color: white;
}

.modal_content .hr {
    margin-bottom: 20px;
    display: flex;
 
    background-color: rgb(72, 71, 71) !important;
    width: 100%;
    height: 2px;
}
.accordion {
    max-width: 400px;
    margin: 0 auto;
  }

  .accordion-item {
    border-radius: 10px;
    padding-bottom: 10px;

  }

  .accordion-item:last-child {
    border-bottom: none;
  }

  .accordion-header {
display: flex;
align-items: center;
justify-content: space-between;
gap: 30px;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: rgb(13, 12, 12);
    
    cursor: pointer;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .accordion-content {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition:  1s ease;
  }

  .accordion-item.active .accordion-content {
    max-height: 200px; /* Высота контента, которая будет показана */
  }

  .accordion-text h1{
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: left;
    font-family: DM Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    color: white;
    text-align: center;
    line-height: 30px;

  }

  .rotate{
    rotate: 180deg !important;
    transition: 1s;
  }
  .rotate2{
    rotate: 360deg !important;
    transition: 1s;
  }

   .accordion-header span p {
    transition: 1s;
    font-size: 30px;
    color: black;
  }